.bannerLocation {
height: 415px;
width: 90%;
border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
}

.sectionInfos {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
width: 90%;
}

.sectionCollapses {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
width: 95%;
}

.divCollapses {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
}

.divContainer{
display: flex;
flex-direction: column;
// justify-content: space-between;
}

.divContainerOwnerRatings{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    }



.title {
    height: auto;
width: 100%;
margin-top: 15px;
text-align: left;
// color: ${Colors.primary};
color: #EF6C6C;
font-size: 30px;
}

.city {
    height: 20px;
width: auto;
text-align: left;
// color: ${Colors.primary};
font-size: 18px;
color: #EF6C6C;
}

.containerCollapse {
    width: 100%;
}


.divOwnerRatingsTags {
    display: flex;
    flex-direction: column-reverse;
}

@media all and (min-width: 992px) {

    .title {
    height: 54px;
    width: auto;
    margin-top: 15px;
    text-align: left;
    color: #EF6C6C;
    font-size: 40px;
    }


    .city {
        height: 20px;
    width: auto;
    text-align: left;
    // color: ${Colors.primary};
    font-size: 20px;
    color: #EF6C6C;
    }
    .divContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        }
        .divContainerOwnerRatings{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            // width: 100%;
            height: 170px;
            margin-top: -90px;
            
            }

            .divOwnerRatingsTags {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                height: 100px;
            }

            


            .sectionCollapses {
                width: 90%;
                }

            .divCollapses {
                flex-direction: row;
                }

                .containerCollapse {
                    width: 45%;
                }
                
}



@media all and (min-width: 768px) and (max-width: 992px) {
    
}


@media all and (max-width: 768px) {
}