.headerContainer {
    display: flex;
justify-content: center;
}

.headerStyle {
    display: flex;
justify-content: space-between;
width: 90%;
}

.headerLogo {
    height: 60px;
width: 180px;
display:flex;
justify-content: center;
align-items: center;
}

.headerNav {
    display: flex;
justify-content: space-between;
align-items: center;
width: 260px
}

.navLinks {
    padding: 15px;
color: #EF6C6C;
text-decoration: none;
font-size: 25px;
    &:hover {
    text-decoration: underline;
    }
}