.footerStyle {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: auto;
height: 200px;
background-color: black;
margin-top: 100px;
}

.footerLogo {
    display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}

.footerDiv {
    color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
}